[2022-03-04 10:12] reinij opened #861 "OGR:WFS Support for CONVERT_TO_LINE"
**OGR:WFS can't handle CURVEPOLYGON**

e.g.
`CURVEPOLYGON ((9.8195 55.3263,9.8258 55.3209,9.8265 55.3201,9.8294 55.311,9.8298 55.3093,9.8298 55.3082,9.8294 55.3048,9.8285 55.3019,9.8274 55.3009,9.8257 55.3,9.8247 55.2997,9.8165 55.2987,9.8024 55.2965,9.7984 55.2989,9.7949 55.3031,9.7951 55.3036,9.7954 55.3054,9.7951 55.3082,9.7945 55.3104,9.7941 55.3112,9.7932 55.3122,9.7903 55.3143,9.7895 55.3153

[2022-03-05 18:42] tomkralidis commented on #859
Sorry I cannot reproduce/worksforme.  I notice that the request is missing the `&` before the `f=json`.  Can you try with:

`http://localhost:5001/collections/dbossh/position?coords=POINT(0 0)&f=json`

[2022-03-07 08:58] kevpax-24 commented on #859
Well... I feel stupid... shouldn't file bug reports last thing on a Friday.

[2022-03-08 07:08] reinij commented on #861
https://github.com/geopython/pygeoapi/pull/863

[2022-03-08 13:25] justb4 commented on #861
Ok, good catch! Curves show up from time to time. I see that there is a whole bunch:
https://gdal.org/development/rfc/rfc49_curve_geometries.html

I can see what #863 does. For my understanding, `CONVERT_TO_LINEAR=YES` should convert any non-lineair geometry like in [ogr2ogr](https://gdal.org/programs/ogr2ogr.html) (?). But apparently that option does not work and explicit conversion is still need

[2022-03-08 13:31] reinij commented on #861
I found this implementation to be more straightforward and `CONVERT_TO_LINEAR = YES` is more on the command line, so I did not implement the `gdal_ogr_options:` selection.

[2022-03-09 09:51] kevpax-24 commented on #859
Re-opened as discovered that although this works:
http://localhost:5001/collections/dbossh/position?coords=POINT(0%200)&f=json

This does not work:
http://localhost:5001/collections/dbossh/position?coords=POINT(0%200)
(same behaviour as described in initial report)

I've updated Issue description to reflect this.

[2022-03-09 14:39] tomkralidis commented on #859
Sorry I still cannot reproduce (no ERROR).

[2022-03-09 14:56] justb4 commented on #859
I can only comment on this:

     Note: adding '&f=json' causes it to work correctly. As far as I'm aware this should not be required, as it should default to json.

The default is GeoJSON if no format "is proposed". When you open that URL in a browser (which I assume here) , the browser will propose HTML format via the `Accept` HTTP header (unless you overrule with `f=json`). Try opening the URL

[2022-03-09 15:39] pvgenuchten commented on #851
on the zoom-in/out event; we would need to update the url of the page to include &bounds={new bounds}

[2022-03-09 15:54] kevpax-24 commented on #859
Thanks @justb4 - can confirm it works with `curl`, so it is a browser issue.

I still think it should not be behaving in this way i.e. claiming 'ERROR - missing coords parameter'.

I found the following error in Chrome's console, something appears to be getting mangled at some point:

[code]

[2022-03-09 16:30] KoalaGeo opened #865 "OGC API - Records Provider - Local or Web Accessible Folder of metadata XML"
**Is your feature request related to a problem? Please describe.**
Similar to pyCSW it'd be nice to be able to load XML metadata records to serve OA-Records

**Describe the solution you'd like**
In the config be able to point pygeoapi at a local folder or web accessible folder (https://www.ordnancesurvey.co.uk/xml/products/)

**Describe alternatives you've considered**
Deploy pyCSW separately

**A

[2022-03-10 13:40] francbartoli commented on #851
Sorry if I jump in and don't know if you have already considered this potential issue but the specification states that f=json and f=html should provide different view formats of the same data underneath.
So in practice, the template could be potentially considered a static view despite the zoom functionality.
Otherwise, it could look like the HTML view is diverging from this principle and behaves

[2022-03-10 14:05] francbartoli opened #867 "Support authentication and authorization for the different APIs and collections"
**Is your feature request related to a problem? Please describe.**
Access control is a complex and huge topic and there is plenty of specific software to support the whole identity and access management lifecycle.
It would be good to have modular, agnostic and pluggable support for controlling both the authentication and the authorization part of a collection.
In parallel, we should align to the v

[2022-03-10 16:38] ThibautAr opened #869 "datetime parameter not queryable"
**Description**
Its seems like the datetime parameter is not queryable.

**Steps to Reproduce**
I tried the following query https://demo.pygeoapi.io/master/collections/obs/items?datetime=2001-10-30T14:24:55Z&f=json

**Expected behavior**
Instead of having only one feature, the query returns all the features of the collections obs.

Did I miss somthing when writing the query?

[2022-03-10 23:03] staffordsmith83 commented on #867
I will start researching into this and propose some solutions

[2022-03-16 10:18] francbartoli commented on #867
Yes @webb-ben, that makes sense. To be agnostic and open to the variety of different mechanisms I would keep some concepts completely separated. For instance:

authentication --> `authn` plugin
authorization --> `authz` plugin
internal login --> route to be added
user provisioning --> route (i.e. `/users`) to be added for the CRUD and protected by the aforementioned plugins for administration
perm

[2022-03-24 19:19] ThibautAr opened #874 "Use existing OGC STAC API with pygeoapi"
Hello all

Is there a way to use rasterio from pygeoapi to extract raster data from an existing OGC STAC API?  For instance, I have an OGC STAC API that is already implemented (https://datacube.services.geo.ca/api).

Using the href link http://datacube-prod-data-public.s3.ca-central-1.amazonaws.com/store/eo4ce/vegetation/vegetation-2019-LAI.tif defined in https://datacube.services.geo.ca/api/colle

[2022-03-27 20:11] francbartoli opened #875 "Build is currently broken caused by latest jinja2 version"
**Description**
Getting this error in our builds since the latest release 3.1.0 of Jinja2.

`module 'jinja2.utils' has no attribute 'escape'`

More insights [here](https://github.com/sphinx-doc/sphinx/issues/10289)

**Steps to Reproduce**
Run a build

**Expected behavior**
Build shouldn't fail

**Screenshots/Tracebacks**
If applicable, add screenshots to help explain your problem.

**Environment**

[2022-03-29 05:48] #875 closed

[2022-03-29 05:49] tomkralidis commented on #715
@webb-ben is this now fixed, given #876?

[2022-03-29 05:49] tomkralidis commented on #796
Iis this now fixed, given #876?

[2022-03-29 15:09] paiuolo commented on #867
What about passing the flask request object directly to provider's "query" and "get" methods?
This would delegate both authentication and authorization at query time and leave the solution framework agnostic.

[2022-03-29 21:47] paiuolo commented on #867
You are right about the Open Policy Agent case, however, I believe that some pattern can benefit from direct access to request object.
There can be a need for more granular control in aggregating individual objects (features) i.e. based on rules dictated by headers set  by an API gateway. In these cases, it may be necessary to access the request object to parse them and the provider's "query" and

[2022-03-30 11:53] pvgenuchten opened #877 "google does not index datasets anymore"
i noticed google dataset search does not list any datasets from demo.pygeoapi.io anymore

i wonder if it is related to the fact that rich snippets test finds the json representation

I assume, in case no accept header is given, the json representation is returned by pygeoapi, in my opinion we should return the html representation if no accept header is given (to support this case)

![image](https:

[2022-03-31 06:25] pvgenuchten commented on #877
The json-ld for search engine is embedded in the html response. No need to request json-ld specifically

[2022-03-31 09:46] tomkralidis commented on #869
Correct, as @maaattes mentions.  This is a welcomed enhancement for our default CSV provider.

[2022-03-31 13:41] ksonda commented on #877
I tested using this config https://github.com/ksonda/global-river-runner/blob/main/deploy/cloud/latest/pygeoapi.config.yml

(server mimetype set to text/html) and google does indeed retrieve the json response by default still.

[2022-04-01 15:38] ThibautAr opened #879 "Clip data using a polygon"
Hello all,

Is it possible to write a query for feature or Coverage collection that clip data inside a polygon?

Rigth now, this is doable only with a rectangular bounding box and I would like to use instead a geometryWKT.

[2022-04-01 16:54] ksonda commented on #879
This would need to be implemented via cql filter probably. https://github.com/geopython/pygeoapi/blob/master/docs/source/cql.rst

@webb-ben and I can add this to our road map, if adding more than the basic CQL filters implemented for ES provider is ok. What do you think @tomkralidis ? If we took this on, it would probably be for geopackage and postgis providers to begin with

[2022-04-01 19:29] tomkralidis commented on #879
Makes sense. I would recommend [pygeofilter](https://github.com/geopython/pygeofilter/) as the CQL handler here, which has bindings for SQL.

[2022-04-04 11:29] ximenesuk opened #880 "Dependency issue pip installing requirements"
**Description**
Following the local installation [instructions for developer installation](https://docs.pygeoapi.io/en/latest/installation.html#for-developers-and-the-truly-impatient) using a clean checkout from `master`, there is an issue installing the Python requirements:

[code]
Relaxing the pinning on `click` fixes that but raises this:
[code]
Pinning flask to `<2` fixes this but then has a p

[2022-04-04 15:56] ThibautAr commented on #879
According to the documentation (see https://pygeoapi-cql-filters.readthedocs.io/en/latest/cql-filter.html#steps-to-generate-and-execute-cql-endpoints), the following query https://demo.pygeoapi.io/master/collections/lakes/items?f=json&filter-lang=cql-text& filter=WITHIN(geometry, POLYGON((-80.0 -80.0,-80.0 50,80.0 50,-80.0 -80.0))) should return some results. However, I only got an error {"code":

[2022-04-04 16:01] ksonda commented on #879
That documentation refers to this fork I believe which never merged into the main pygeoapi branch. https://github.com/FarheenB/pygeoapi

[2022-04-12 00:29] metmikel opened #882 "Some coverage endpoints report an error when running under the starlette framework"
**Description**
Some of the coverage endpoints return an error when pygeoapi is served using the starlette framework.  For example, requesting coverage data results in the error message:
`TypeError: collection_coverage() missing 1 required positional argument: 'collection_id'`
Similar errors exist for the collection_coverage_domainset and collection_coverage_rangetype endpoints as well.

**Steps t

[2022-04-12 09:18] metmikel commented on #882
Addressed in https://github.com/geopython/pygeoapi/pull/883

[2022-04-14 10:51] francbartoli commented on #882
@metmikel merged into master!

[2022-04-14 10:51] #882 closed

[2022-04-14 11:04] francbartoli opened #884 "Support the new OGC encoding format FG-JSON"
**Is your feature request related to a problem? Please describe.**
It would be great to add the support to this new encoding format https://github.com/opengeospatial/ogc-feat-geo-json that overcomes the GeoJSON limitation to have only the standard CRS WGS84

**Describe the solution you'd like**
Add a utility that translates the output from `geojson` to `feat-geo-json`

**Describe alternatives you'

[2022-04-14 14:21] ksonda opened #886 "skipGeometry not implemented for geopackage provider"
skipGeometry query parameter is not implemented for geopackage provider

This is a port from https://github.com/internetofwater/geoconnex.us/issues/156

Compare:

https://demo.pygeoapi.io/master/collections/ogr_gpkg_poi/items?f=json&skipGeometry=true
https://demo.pygeoapi.io/master/collections/lakes/items?f=json&skipGeometry=true

[2022-04-18 22:18] tomkralidis commented on #874
@ThibautAr can you provide a test case configuration snippet (at least the provider definition) so I can reproduce?

[2022-04-18 23:19] tomkralidis commented on #886
Addressed in #887

[2022-04-18 23:39] tomkralidis commented on #865
cc @kalxas @pvgenuchten @francbartoli

@KoalaGeo thanks for the info.  Sounds like we are looking for an OARec record loader of sorts that will write metadata (XML) to a given backend.  Given the complexity of various metadata XML representations and management workflow, I'm not sure we should have this capability in pygeoapi proper.

pygeoapi's current OARec design (like other provider types in t

[2022-04-19 00:50] tomkralidis commented on #790
Hi all: update: our next step in the process is the provenance review.  I've done a first pass in https://github.com/geopython/pygeoapi/wiki/ProjectProvenanceReview for review and comment.

@msmitherdc please let us know if this is suitable and what we should update.

[2022-04-19 17:45] tomkralidis commented on #886
Now fixed/merged in #887.  @webb-ben can you validate?

[2022-04-19 18:32] ksonda commented on #886
It seems to work correctly on /items?f=json&skipGeometry=true

although it does not work on /items/id?f=json&skipGeometry=true

This is fine for our purposes but not sure if skipGeometry is supposed to also work on /items/id endpoint

[2022-04-19 18:42] tomkralidis commented on #886
I would leave to `/items` for now, given at the `.../{itemId}` level we are at much smaller payload size (always a single feature).

[2022-04-19 19:01] tomkralidis commented on #886
P.S. to add, note that pygeoapi's `skipGeometry` support is at the `.../items` level.  Does this work for you @ksonda ?

[2022-04-19 19:11] ksonda commented on #886
Yeah that's fine. Don't need it at /item/id level.

[2022-04-19 19:12] #886 closed

[2022-04-22 10:57] tomkralidis commented on #791
Initial page now updated at https://pygeoapi.io/community/service-providers/

[2022-04-29 14:54] Alex-NRCan opened #890 "Postgresql tables including spaces in their names are no more supported"
**Description**
Following a recent commit of Monday April 25th 2022 (SHA-1: 15e7deabed7dbcb48a77241d43f1d1ebe62d4ed4), we've been experiencing a new issue connecting to postgresql tables which contain spaces in their names. The commit refers to a fix regarding SQL injection, which is great, but it introduced an issue with postgresql tables containing spaces in their names. Admittedly, having space

[2022-04-30 11:22] jmckenna commented on #890
Comment from the bleachers: Yikes, that sounds like disaster managing a PostgreSQL database with spaces in tablenames, this will cause breaks in so much FOSS4G software downstream (and since my work is on Windows, I know from experience that this becomes a mixture of single and double quote chaos ha, breaking most software and likely not even supported by the FOSS4G commandline utilities).

[2022-05-09 09:33] petergarnaes opened #895 "xarray plugin provides non json-serializable metadata in coverage rangetype"
**Description**
When data is loaded into `xarray`, it contains a set of data variables, which each has a set of attributes. These are inserted into objects which are later json serialized [here](https://github.com/geopython/pygeoapi/blob/0.12.0/pygeoapi/provider/xarray_.py#L180) and [here](https://github.com/geopython/pygeoapi/blob/0.12.0/pygeoapi/provider/xarray_.py#L137).

The problem is that fo

[2022-05-09 20:54] gnosys-ccoupal opened #896 "Hateoas issue serving collections"
When serving collections, the provider does integrate the links from the .json file, but the stac_extensions, license, and extent keys are not included in the response. The result is the collection cannot be consumed by pystac-client.

**Steps to Reproduce**
serve a stac collection using hateoas

**Expected behavior**
The resulted json would include the stac_extensions, license, and extent keys

*

[2022-05-09 21:10] gnosys-tmiller commented on #221
Hi All,

I hate to dig up an old post -- but has any /search feature been added (i.e. like https://stacspec.org/STAC-api.html#operation/getSearchSTAC)?  We have just setup pygeoapi, and it seems to still not be available.

Thanks!

[2022-05-11 01:50] tomkralidis commented on #221
@gnosys-tmiller I have a pending branch/PR to implement STAC API, which should be completed in the next 2 weeks or so.  cc @cholmes.

[2022-05-11 10:39] andypols opened #897 "Not all coordinates in an xarray have a unit attribute"
When the `_get_coverage_properties` method of the `XarrayProvider` class iterates over the coordinates of a NetCDF file - it assumes each coordinate has a `unit` attribute.  The date based coordinates in the data I'm using from the Met Office (https://registry.opendata.aws/uk-met-office/) don't have a unit attribute and cause the following KeyError:

[code]

The sample xarray (loaded from a NetCDF

[2022-05-12 14:40] bkanuka commented on #874
I too am interested in this.  We host our own existing STAC API (based on https://github.com/stac-utils/stac-fastapi ) and I'm not sure how to set it up as a resource/provider in pygeoapi.  The following shows part of my config for a public stac api endpoint:

[code]

When running, I get the follwoing error:

[code]

So it looks like pygeoapi is looking for files with a `.json` extension, but the

[2022-05-12 14:44] bkanuka commented on #221
Hey @tomkralidis  is your WIP allowing an *existing* STAC API to be browsed from with pygeoapi, or for pygeoapi *itself* to act as a STAC API?

Also, this is labeled "help wanted" - what can be done to help? :wink:

[2022-05-15 09:31] pvgenuchten opened #900 "canonical link to remote source data url may confuse search engines"
i noticed on https://demo.pygeoapi.io/master/collections/lakes that the canonical link refers to a remote location. This may confuse the search engine, because we indicate [the current url duplicates the content of the remote url](https://www.seobility.net/en/wiki/Canonical_Tag?utm_source=google&utm_medium=cpc&utm_campaign=wiki_en&utm_term={canonical%20tag}&utm_content=lp_canonical_tag&gclid=Cj0KC

[2022-05-15 09:52] pvgenuchten commented on #577
i got same impression, the behaviour must have been changed a while ago, we have structured data results at least up to march 2020, but currently structured data parsing, at least on google is broken, in my impression it is related to above statement, not providing a accept encoding causes pygeoapi to return json

[2022-05-15 10:03] pvgenuchten opened #901 "return html if no accept encoding is requested"
Somehow i missed the aspect that google these days does not fetch any structured content from demo.pygeoapi.io since mid 2020, it seems related to the fact that google crawler does not send an accept header when fetching content in combination with pygeoapi returning json, if no accept header is send.

The yandex structured data validator has the same 'challenge'.

Suggestion would be to return ht

[2022-05-15 16:38] ksonda commented on #577
Since the changes above Our own crawler harvests our pygeoapi urls ok. We haven't gotten any results from Google since the introduction of Rich Results test tool and retirement of the structured data test tool. It seems like google is not indexing structured content based on @type

[2022-05-17 03:34] ksonda commented on #901
I agree

[2022-05-20 12:44] pvgenuchten commented on #901
a potential workaround if people are not enthousiastic on this:
- add a sitemap.xml which references each of the enpoints with explicit ?f=html (or better xxx.html)
- the html would indicate xxx.html as canonical url

[2022-05-20 19:28] pvgenuchten opened #906 "pygeoapi as a codelist registry"
In the European Soil Community we're in the process of setting up a tool chain of tools to support our data workflows. For one aspect we're still looking for a good technical option. It is the publication of Codelists. In many cases common codelists are imported and extended to support a local use case, these extended codelists would need to be published in a simple method.

There are common tools

[2022-05-20 19:37] pvgenuchten commented on #877
see #902

[2022-05-21 23:14] pvgenuchten opened #907 "use a column as link with certain 'rel'"
if one of my columns has a hyperlink to a thumbnail or a link to a related row in another table etc, i would like to move the content of that column from the feature-properties to the link section

[code]
An idea could be to allow to populate https://github.com/geopython/pygeoapi/blob/ce425887d0ff0a17212fa56e264396f8bf3874e0/pygeoapi-config.yml#L162 with a template (see above). Alternatively, we c

[2022-05-23 13:54] pvgenuchten opened #908 "key error when no/incorrect geojson file"
on a docker 0.12.0 instance, got this error

[code]

seems related to a missing or bad geojson file (geojson provider)

expected: an error indicating that a geojson (which one) was not found or corrupt

[2022-05-23 13:57] pvgenuchten opened #909 "tinydbprovider requires writable system"
when running openapi.py on a tinydb, get this error

[code]
seems openapi generation requires a writable file?

[2022-05-23 14:10] ksonda commented on #906
We have an open PR to allow for arbitrary JSON-LD templating that may be useful for this use case as well. https://github.com/geopython/pygeoapi/pull/868

[2022-05-23 20:04] pvgenuchten commented on #906
@ksonda, i tried your pr branch, but it was not clear how i could populate those json-ld templates, do you have some examples?

[2022-05-23 20:45] pvgenuchten opened #910 "evaluate yarrrml mappings to represent geojson as json-ld"
I recently noticed [yarrrml](https://rml.io/yarrrml) as an interesting fit to represent json-flavours such as geojson as rdf/json-ld.

A typical basic yarrrml mapping to represent a geojson in rdf would look like this:

[code]
the above mapping file would need to be made available for every collection, a default mapping file could transform the basic things.

yarrrml (to-rml) is an npm library and

[2022-05-24 12:13] ksonda commented on #906
You can see an example json-ld document here: https://reference.geoconnex.us/collections/gages/items/1185577?f=jsonld

This is generated by this template https://github.com/internetofwater/geoconnex.us/blob/master/pygeoapi/pygeoapi-skin-dashboard/templates/jsonld/ref-gages.jsonld

Which is placed in a folder called `jsonld` within the `templates` directory (as set in the server config yaml)

Then,

[2022-05-24 21:50] pvgenuchten commented on #906
I'm going to give it a try, we should add such an example to docs

[2022-05-25 05:32] #909 closed

[2022-05-25 05:35] #900 closed

[2022-05-29 19:18] pvgenuchten opened #914 "google error 500 reports"
Google search console reports a number of error 500's.
If an error is caused by a missing collection/item, better to return a 404

- https://demo.pygeoapi.io/cite/collections/canada-hydat-daily-mean-02hc003/items/02HC003.1975-10-02
- https://demo.pygeoapi.io/master/collections/unesco_pois_italy/items/Unesco_point.17
- https://demo.pygeoapi.io/cite/collections/canada-hydat-daily-mean-02hc003/items

[2022-06-07 16:33] pvgenuchten opened #918 "mini css seems archived by its owner, should we switch?"
See https://github.com/Chalarangelo/mini.css

[2022-06-08 19:53] msouff opened #919 "Openapi function expects utf-8 encoding but the generate command outputs utf-16 on Windows"
**Description**
The openapi generate command example given in the documentation uses `click.echo` and redirection to save the output to a file:

`pygeoapi openapi generate /path/to/my-pygeoapi-config.yml > /path/to/my-pygeoapi-openapi.yml`

The openapi function expects utf-8:

[code]

The problem is that `click.echo` will output utf-16 if it detects a Windows console:

From: https://click.palletsp

[2022-06-10 18:46] pvgenuchten opened #921 "title-field language annotation seems not possible"
#608 describes a practice of defining a title-field in multiple languages
however when i try it, i get this artifact on the list view
<img width="429" alt="image" src="https://user-images.githubusercontent.com/299829/173130543-89e1cf1b-0c94-43aa-bf69-a6591940b121.png">
and 'undefined' in the map view
<img width="232" alt="image" src="https://user-images.githubusercontent.com/299829/173130627-b4cd2

[2022-06-10 20:31] pvgenuchten opened #922 "why are abstract, keywords, links required params on a collection configuration"
When setting up a new feature collection and skipping the `description`, `keywords` or `links` properties, pygeoapi throws an error that these parameters are required. What is the reason for these params to be required, can't we set a default empty string if not provided?

[code]
even `title` might not be required, it can take the collection name as default

[2022-06-10 21:03] pvgenuchten opened #924 "CC-BY and attribution of a dataset"
If a CC-BY licensed dataset is published with pygeoapi, I assume we need to capture somewhere the attribution statement. The server has an attribution statement, but this applies to the server, not to a specific dataset.
Can a dataset configuration have an `attribution` property? Is this something which should first be confirmed by OGC API Common, or something we can implement in pygeoapi?

[code]

[2022-06-10 21:28] #908 closed

[2022-06-13 07:18] #921 closed

[2022-06-22 00:27] #918 closed

[2022-06-22 01:03] #919 closed

[2022-06-22 01:03] tomkralidis commented on #919
@msouff fixed via #925.  Let us know if this fixes the issue.

[2022-07-03 10:43] msmitherdc commented on #790
@tomkralidis this looks like a very good start for the Provenance Review. Have you started contacting Copyright holders? That and fixing the few code headers and attribution and you look quite far along. Do you have a target release for getting these changes in?

[2022-07-06 02:15] tomkralidis opened #928 "update contributor and license agreements"
cc @msmitherdc

## Overview

As part of OSGeo incubation, our Graduation Checklist (https://github.com/geopython/pygeoapi/wiki/ProjectGraduationChecklist) requires the project to firm up contribution agreements.

This applies to the pygeoapi software code files.

This is outlined in https://github.com/geopython/pygeoapi/blob/master/CONTRIBUTING.md#contributions-and-licensing.  Template for complet

[2022-07-06 02:15] tomkralidis commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Tom Kralidis

[2022-07-06 02:41] tomkralidis opened #929 "file missing source code header"
As part of #790 and the [Project Provenance Review](https://github.com/geopython/pygeoapi/wiki/ProjectProvenanceReview), we have one which is missing a source code header in https://github.com/geopython/pygeoapi/blob/master/aws-lambda/container/wsgi.py.

This was initially contributed by Chris Barrett in 2019) (see https://github.com/geopython/pygeoapi/commits/master/aws-lambda/container/wsgi.py),

[2022-07-06 02:46] tomkralidis opened #930 "Some test data missing source information"
As part of #790 and the [Project Provenance Review](https://github.com/geopython/pygeoapi/wiki/ProjectProvenanceReview), the following test data needs its source information listed in https://github.com/geopython/pygeoapi/blob/master/tests/data/README.md

- [x] https://github.com/geopython/pygeoapi/tree/master/tests/data, all `dutch_addresses_*` data (@justb4 @pvgenuchten @GeoSander @jorgejesus)
-

[2022-07-06 02:47] tomkralidis commented on #790
Thanks @msmitherdc.  Updates/questions:

- contribution agreements issue now filed in #928
- I've also added a [Pull Request Template](https://github.com/geopython/pygeoapi/blob/master/.github/PULL_REQUEST_TEMPLATE.md) for contributions moving forward
- as far as other issues:
  - https://github.com/geopython/pygeoapi/issues/929
  - https://github.com/geopython/pygeoapi/issues/930
  - we have one

[2022-07-06 06:18] bradh commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Brad Hards

[2022-07-06 07:50] metmikel commented on #928
Hi all, I'd like to contribute docs & code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.
Mike Lane

[2022-07-06 08:12] pvgenuchten commented on #928
Hi all, I'd like to contribute docs & code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

[2022-07-06 08:44] jemrobinson commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

James Robinson

[2022-07-06 08:54] francbartoli commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.
Francesco Bartoli

[2022-07-06 09:08] MartinPontius commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Martin Pontius

[2022-07-06 09:39] GeoSander commented on #930
@tomkralidis I assume that the Dutch addresses data is derived from https://www.pdok.nl/downloads/-/article/adress-1, but I'm not sure.

Guess that @justb4 knows best, as he is the one who committed this! :)

[2022-07-06 11:51] kalxas commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Angelos Tzotsos

[2022-07-06 12:08] bitner commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my
contributions to pygeoapi will be compatible with the pygeoapi license
guidelines at the time of contribution.

David Bitner

On Tue, Jul 5, 2022, 9:15 PM Tom Kralidis ***@***.***> wrote:

[2022-07-06 13:03] mbucknell commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Mary Bucknell

[2022-07-06 14:44] KoalaGeo commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Edward Lewis

[2022-07-06 14:48] geographika commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Seth Girvin

[2022-07-06 15:02] isedwards commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution

Ian Edwards

[2022-07-06 15:02] webb-ben commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Ben Webb

[2022-07-06 15:37] doublebyte1 opened #931 "ES docker-composition is not starting correctly"
**Description**
The example [ES docker-composition](https://github.com/geopython/pygeoapi/blob/master/docker/examples/elastic/docker-compose.yml) starts with errors.

**Steps to Reproduce**
Start the [docker composition](https://github.com/geopython/pygeoapi/blob/master/docker/examples/elastic/docker-compose.yml) with `docker-compose up`

**Expected behavior**
All containers should start and pygeo

[2022-07-06 15:46] acapparelli commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Adam Capparelli

[2022-07-06 16:10] doublebyte1 commented on #931
Hopefully addressed in this PR: https://github.com/geopython/pygeoapi/pull/932

[2022-07-06 16:29] kngai commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Kevin Ngai

[2022-07-06 18:41] ychoquet commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Yves Choquette

[2022-07-06 19:53] tomkralidis commented on #931
Merged - thank you!

[2022-07-06 19:53] #931 closed

[2022-07-06 19:53] doublebyte1 commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Joana Simoes

[2022-07-06 19:58] tomkralidis commented on #922
We want fulsome metadata don't we? :)

Here's what is required at the resource property level: https://github.com/geopython/pygeoapi/blob/master/pygeoapi/schemas/config/pygeoapi-config-0.x.yml#L418-L424

IMHO we should advocate for these to help with search in pygeoapi, which would feed many workflows/use cases and future implementations:
1. queryable `/collections` endpoints
2. offline workflow t

[2022-07-06 21:39] geekdenz commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my
contributions to pygeoapi will be compatible with the pygeoapi license
guidelines at the time of contribution.

Tim-Hinnerk Heuer

On Thu, 7 Jul 2022, 07:53 Jo, ***@***.***> wrote:

[2022-07-08 05:24] pvgenuchten commented on #922
Yes, we like metadata, on the other hand it may be frustrating for novice users to write a configuration which has a lot of required configuration properties

[2022-07-08 06:29] constantinius commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Fabian Schindler

[2022-07-08 11:18] tomkralidis commented on #922
Perhaps we can make `description` or `keywords` optional?

[2022-07-08 19:34] aripollak commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Ari Pollak

[2022-07-14 13:58] francbartoli commented on #884
During the code sprint, I heard about this instance `https://fgjson.skymantics.com/`.  @skyNacho do you know if this extension is publicly available and/or if they want to contribute back?

[2022-07-14 14:34] francbartoli opened #937 "Support up-to-date version of CQL"
**Is your feature request related to a problem? Please describe.**
It was reported that the Elasticsearch provider support CQL with an older version of the specification

**Describe the solution you'd like**
Support CQL2 via [pygeofilter](https://github.com/geopython/pygeoafilter)

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-07-14 17:53] skyNacho commented on #884
Sure! I implemented the extension for the TB17 and I was waiting to get to a stable version (0.2) before updating it and contributing to the community, much in the same way as I am doing with the routing plugin. It should not be long before the new draft spec is ready.

[2022-07-15 06:45] doublebyte1 opened #938 "Queryables are not rendered for mongo data provider"
**Description**
The endpoint: http://localhost:5000/collections/ne_110m_populated_places_simple/queryables, should display the queryables of the dataset. When using a [mongo data provider](https://docs.pygeoapi.io/en/stable/data-publishing/ogcapi-features.html#mongodb), no items are shown.

**Steps to Reproduce**
Start a [mongodb database](https://github.com/geopython/pygeoapi/blob/master/docker/e

[2022-07-15 07:00] doublebyte1 commented on #938
The matching PR to address this issue: https://github.com/geopython/pygeoapi/pull/939

[2022-07-21 17:18] perrygeo commented on #928
Hi all, I'd like to contribute docs and code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

[2022-07-22 00:29] #938 closed

[2022-07-25 07:42] totycro commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Bernhard Mallinger

[2022-07-25 08:50] mvaaltola commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Mikael Vaaltola

[2022-07-27 13:24] francbartoli commented on #930
@tomkralidis yes it is the same dataset tiled

[2022-07-27 13:40] justb4 commented on #930
Yes, I am to blame for the Addresses datasets :-).

* Small areas were directly downloaded from a Dutch Kadaster (PDOK) GeoServer WFS (Dutch National SDI) in various formats: Shape, GPKG etc
* These are address-records derived by Kadaster from the Dutch "Buildings and Addresses" key registry (BAG) to comply with INSPIRE
* License is: CC0 1.0 https://creativecommons.org/publicdomain/zero/1.0/deed.n

[2022-07-27 14:29] tomkralidis commented on #930
Thanks @justb4.  Yes, if you can add to https://github.com/geopython/pygeoapi/blob/master/tests/data/README.md that would be fantastic.

[2022-07-27 15:23] justb4 commented on #930
Ok, PR https://github.com/geopython/pygeoapi/pull/947

[2022-07-27 15:26] justb4 commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Just van den Broecke

[2022-07-27 21:33] bkanuka commented on #60
hey @tomkralidis - bumping an old ticket, but I'm looking to take this on.  Short of using PostGIS provider as a starting point, any further thoughts on this?

[2022-07-28 00:00] tomkralidis commented on #60
Thanks @bkanuka, sounds good! Also consider practical and isolated (enough) ways to run tests, as well as adding docs (following the patterns of how the other feature providers are implemented/tested/documented).

[2022-07-28 02:19] #791 closed

[2022-07-28 03:39] jodygarnett commented on #928
I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

[2022-07-28 10:55] #929 closed

[2022-07-28 10:55] tomkralidis commented on #929
Fixed in #948

[2022-07-28 13:17] astroidex commented on #928
Hi all, I'd like to contribute docs code translations to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Astrid Emde

[2022-07-28 18:54] tomkralidis commented on #930
All remaining data sources now documented. Thanks all!

[2022-07-28 18:54] #930 closed

[2022-07-29 02:38] ShaneMill1 commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.
Shane Mill

[2022-08-04 14:32] pvgenuchten opened #950 "bounds demo dataset dutch adresses seems incorrect (x-y order)"
![image](https://user-images.githubusercontent.com/299829/182873122-2b8b0e2e-d866-4059-8fc7-a1b0f15bb5d9.png)

[2022-08-04 14:37] pvgenuchten opened #951 "add the leaflet markercluster for point features"
the leaflet marker-cluster plugin improves visualization of large point datasets

![image](https://user-images.githubusercontent.com/299829/182874236-532f45a7-95d0-4ee1-9d57-b0296caa9b0a.png)

![image](https://user-images.githubusercontent.com/299829/182874359-4b89ace0-9c53-4627-a08a-dd424b140b85.png)

[2022-08-05 17:50] tomkralidis commented on #790
Updates:
- OSGeo project officer selected (https://lists.osgeo.org/pipermail/pygeoapi/2022-August/000259.html)
- PSC approved to motion to graduate (https://lists.osgeo.org/pipermail/pygeoapi/2022-August/000267.html)
- @msmitherdc has made the motion to the OSGeo Incubation committee (https://lists.osgeo.org/pipermail/incubator/2022-August/004507.html)

[2022-08-07 13:09] pvgenuchten opened #956 "multilingual collection name"
with the [multilingual title option for service identification](https://docs.pygeoapi.io/en/latest/language.html#add-translations-for-configurable-text-values), one would expect a similar concept for collection configuration, unfortunately this leads to unexpected behaviour.

[code]

<img width="822" alt="image" src="https://user-images.githubusercontent.com/299829/183292173-1df429de-9823-4ca4-a44

[2022-08-07 14:25] tomkralidis commented on #790
Additional references:
- https://wiki.osgeo.org/wiki/Incubation_Committee#pygeoapi
- https://www.osgeo.org/projects/pygeoapi

[2022-08-08 08:06] pvgenuchten opened #957 "if title_field config is a int property, then crumbs fail"
![image](https://user-images.githubusercontent.com/299829/183370194-d0f92757-18b9-4e35-92d0-5ca76a79b10f.png)

tested with:
ogr provider on wfs source

[2022-08-08 21:05] pvgenuchten opened #958 "csv provider fails if a single x/y value is empty"
<img width="612" alt="image" src="https://user-images.githubusercontent.com/299829/183514384-483f39df-6d80-44c7-a6f7-12f135cf4742.png">

the csv had a single row with empty x/y
what can we expect here, a try/catch around https://github.com/geopython/pygeoapi/blob/2ad45120087d50eff9a05102e456d73c8aebe138/pygeoapi/provider/csv_.py#L119, or should all geoms by valid in any data file?

[2022-08-08 21:13] pvgenuchten commented on #958
this csv has a uri as identifier, which causes some interesting behaviour
pygeoapi generates these links

[code]

which off course generates a 404, in identifiers we need to encode special characters, such as /?&=

[2022-08-08 22:53] pvgenuchten commented on #956
seems i was using an old docker image, this does not occur on latest

[2022-08-08 22:53] #956 closed

[2022-08-09 18:19] PhilippeTh opened #959 "Unable to render Schema Geometry when geometry has three elements (XYZ)."
**Description**
Code fails at https://github.com/geopython/pygeoapi/blob/master/pygeoapi/linked_data.py#L329 when there's a geometry with 3 elements (XYZ).

**Steps to Reproduce**
Added a new collection to my `pygeoapi-config.yml` which links to an Elasticsearch index with documents resembling:
[code]
Saved my work, served it and when I try to click on a collection item, I get the traceback shown

[2022-08-09 19:04] #959 closed

[2022-08-20 16:08] tomkralidis commented on #790
Motion passed: https://lists.osgeo.org/pipermail/incubator/2022-August/004535.html

Next step:
- seek OSGeo Board of Directors approval, which has been cast by @msmitherdc at https://www.loomio.org/p/XjpcFNvf?stance_token=942siJBuhnMpw5NgrGDsNWnY
  -  also added to agenda for next Board meeting: https://wiki.osgeo.org/wiki/Board_Meeting_2022-08-27#Current_items

[2022-08-21 19:43] tomkralidis commented on #790
Board vote complete; motion passed.

- https://www.osgeo.org/foundation-news/pygeoapi-graduates-osgeo-incubation
- https://twitter.com/OSGeo/status/1561434042007945216
- sent as news item to OSGeo announce as per https://wiki.osgeo.org/wiki/News_Queue#Submitting_News

[2022-08-27 08:30] JorgeMartinezG opened #965 "Cannot install requirements in development environment"
**Description**
Following the documentation found in this link I get the following error:
[code]

**Steps to Reproduce**
1. Create virtual environment
[code]

2. Install requirements
[code]

**Expected behavior**
Install project requirements

**Screenshots/Tracebacks**: None

**Environment**
 - OS: Linux
 - Python version: 3.68
 - pygeoapi version: python folder in master branch

**Additional cont

[2022-08-27 09:23] krishnaglodha commented on #728
Hi @ksonda , I'm thinking of creating a config yml generator to help users use GUI form to generate files. Please let me know if you are working on it, otherwise I can then spin up an issue.

Thanks

[2022-08-27 09:56] #965 closed

[2022-08-27 10:08] #880 closed

[2022-08-27 10:14] #958 closed

[2022-08-27 10:59] pvgenuchten opened #968 "translations in env are reset when using custom templates"
returns `gettext undefined` if using custom template path

[2022-08-27 11:19] ksonda commented on #728
@webb-ben can you show where current draft and any feedback is? You're welcome to iterate on that or try a different implementation if you want. Our work on this is not immediate for the time being.

[2022-08-27 12:38] #968 closed

[2022-08-27 13:01] doublebyte1 opened #970 "Add Support to Elasticsearch Vector Tiles on OGC API Tiles"
In recent versions, Elasticsearch is [capable of rendering data directly as vector tiles](https://www.elastic.co/blog/introducing-elasticsearch-vector-tile-search-api-for-geospatial), using a [specific endpoint](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-vector-tile-api.html).

![Screenshot from 2022-08-27 14-54-58](https://user-images.githubusercontent.com/1038897/18703

[2022-08-27 16:03] francbartoli commented on #586
Closed by https://github.com/geopython/pygeoapi/pull/630

[2022-08-27 16:03] #586 closed

[2022-08-27 16:10] PascalLike commented on #699
For the tileMatrixSetURI that should use the TMS register part, I got an interesting suggestion: we could use [this registry](https://github.com/opengeospatial/2D-Tile-Matrix-Set/tree/master/registry/json), linking directly raw files [like this](https://raw.githubusercontent.com/opengeospatial/2D-Tile-Matrix-Set/master/registry/json/CanadianNAD83_LCC.json)

[2022-08-27 18:22] doublebyte1 commented on #970
I remove the tilejson metadata, since elasticsearch does not provide that

![Screenshot from 2022-08-27 20-21-18](https://user-images.githubusercontent.com/1038897/187043247-4e9d1246-e3d0-466d-b569-52791df7a6c9.png)

[2022-08-27 18:24] doublebyte1 commented on #970
The elasticsearch upgrade needs to be tested before doing the PR
https://github.com/doublebyte1/pygeoapi/commit/17f7ec16fc18a70e901ae9f4e64bb636103f2fb1

[2022-08-27 20:07] KoalaGeo commented on #937
In progress for PostGres provider - https://github.com/geopython/pygeoapi/pull/964

[2022-08-27 20:12] KoalaGeo commented on #922
The configs could maybe make more use of yml anchors & extensions to reduce duplication?

[2022-08-29 07:27] pvgenuchten commented on #922
+1 to allow empty keywords/description, should i PR to continue conversation

[2022-08-29 13:51] tomkralidis commented on #922
Sounds good, makes sense.

[2022-08-29 14:55] webb-ben commented on #728
@krishnaglodha @ksonda cc: @tomkralidis

This is implemented in [cgs-earth/pygeoapi:admin](https://github.com/cgs-earth/pygeoapi/tree/admin). Simultaneous to the GUI, working is being done to build out an [admin api](https://github.com/wmo-im/wis2box-api/tree/main/wis2box_api) that is in line with [OGC API - Features - Part 4](http://docs.ogc.org/DRAFTS/20-002.html).

[2022-08-31 15:26] justb4 opened #973 "Build/push pygeoapi Docker Images within a GH Workflow"
**Is your feature request related to a problem? Please describe.**
DockerHub has stopped automated builds (though "geopython" org had an Open Source waiver).

**Describe the solution you'd like**
It is better to build/push Docker Images within a GH Workflow. One can then first build, run unit tests, and then push. Often this is also quicker.

**Describe alternatives you've considered**
Try to get

[2022-08-31 15:29] justb4 commented on #434
Closing, we have the created and even provided the Workshop Diving into pygeoapi, maintained at:
https://github.com/geopython/diving-into-pygeoapi

[2022-08-31 15:29] #434 closed

[2022-08-31 15:35] KoalaGeo commented on #973
I started - https://github.com/geopython/pygeoapi/pull/801

[2022-08-31 17:42] justb4 commented on #973
Yes, and completely forgot, sorry. We have a head start thus.

[2022-08-31 20:38] drnextgis opened #974 "Error in the log but everything works as expected"
The relevant part of my configuration file:
[code]

Everything works fine but pygeoapi complains about missing `fid` column when I perform a query:

[code]

[code]

What do you think about replacing `LOGGER.error(err)` with `LOGGER.warning` with probably more explicit message [here](https://github.com/geopython/pygeoapi/blob/c0c2ba541fb4b94b98fbb872915a8bfc62533ecc/pygeoapi/provider/ogr.py#L477)?

[2022-09-01 13:49] maxcollombin opened #976 "Error when publishing netcdf file to OGC API - Coverages"
**Description**
I've been trying to publish a netcdf file to OGC API Coverages as explained [here](https://docs.pygeoapi.io/en/latest/data-publishing/ogcapi-coverages.html#publishing-raster-data-to-ogc-api-coverages) but I'm getting the following error:

[code]

**Steps to Reproduce**
1. `mkdir pygeoapi/data`
2. `cd pygeoapi/data`
3. Download the file: [coads_sst.nc](https://github.com/geopython/p

[2022-09-02 13:23] maxcollombin opened #977 "Add support for STA CRS conversion"
**Description**
I've been trying to publish a SensorThings API service but the items are not correctly projected on the map.
EPSG:21781 (CH1903/LV03) is the projection used by the service.

**Steps to Reproduce**
1. `mkdir pygeoapi`
3. `cd pygeoapi`
4. `touch docker-compose.yml`
5. Provide the following information in the docker-compose.yml file:
[code]
6. Create the file supsi.sta.pygeoapi.config

[2022-09-02 15:21] maxcollombin opened #978 "Error while publishing Hierarchical collections"
**Description**
I tried to follow [this procedure](https://docs.pygeoapi.io/en/latest/configuration.html#hierarchical-collections) to publish hierarchical collections but I get the following error when I try to access the following url via my browser: http://localhost:5000/collections/naturalearth/lakes?f=html

[code]
and at the log level:

`[2022-09-02T15:09:19Z] {/pygeoapi/pygeoapi/api.py:3202}

[2022-09-04 06:31] tomkralidis commented on #974
cc @justb4

Should this throw an error, given the layer is incorrectly configured?

[2022-09-04 07:47] drnextgis commented on #974
@tomkralidis I wouldn't say that the layer is configured incorrectly because I specified the FID field by purpose. Otherwise it raises the following error:
[code]

[2022-09-04 08:55] justb4 commented on #974
quick answer: could be corner  case. think 'fid' is a special name in OGR, automatically generated when a collection does not have an id. But indeed the error message should be reconsidered.
You may want to open the GPKG file with sqlite3 or another sqlite tool to see if there is really a column named 'fid'.

[2022-09-04 09:05] drnextgis commented on #974
In my case there is no 'fid' field among normal fields:
[code]
and I want to use FID field as `id_field` which is totally legitimate use case and pygeoapi handles it correctly.

[2022-09-04 12:09] tomkralidis commented on #974
@drnextgis can you provide a small test case (data + config)?

[2022-09-04 13:42] justb4 commented on #974
Had a look and found the following:

If the Layer in the GPKG has a 'fid' column and that column is configured as the `id_field` in pygeoapi, this field is not present in the Layer objects as an explicit OGR Field, but 'internalized' as the FID somehow. Think in some cases there is some magic interrogating the DB.
So 'popping' the id_field in [ogr.py Line 474](https://github.com/geopython/pygeoapi

[2022-09-04 13:46] justb4 commented on #974
"id" is optional in GeoJSON, RFC 7946:
 *If a Feature has a commonly used identifier, that identifier
      SHOULD be included as a member of the Feature object with the name
      "id", and the value of this member is either a JSON string or
      number.*

[2022-09-04 18:37] drnextgis commented on #974
config:
[code]
data:
[filename.zip](https://github.com/geopython/pygeoapi/files/9485287/filename.zip)

Request example:
[code]
[code]

[2022-09-06 06:10] tomkralidis commented on #976
What may be happening is that the bind volume is not available when pygeoapi container starts up.

cc @webb-ben @justb4 @francbartoli for hints/tips here.

[2022-09-06 06:15] tomkralidis commented on #978
Cannot reproduce/worksforme.  What is the result of `http://localhost:5000/collections`?

[2022-09-06 06:17] tomkralidis commented on #977
@webb-ben not sure whether the STA provider supports reprojection?

[2022-09-06 06:29] tomkralidis commented on #974
@drnextgis I'm able to reproduce.  Following on in your PR #975

[2022-09-06 06:31] tomkralidis commented on #434
For good measure, added a link in the main docs ToC page to https://dive.pygeoapi.io

[2022-09-06 08:03] maxcollombin commented on #978
Hi @tomkralidis ,

Thanks for your feedback!

The result is the following:

![image](https://user-images.githubusercontent.com/93529214/188580446-95371064-f32f-40a9-93e6-e19fce17f9d3.png)

[2022-09-06 11:12] #974 closed

[2022-09-06 12:27] maxcollombin opened #979 "Error while publishing a OA Process through pygeoapi via docker-compose"
**Description**
I'm tying to publish this [process](https://gist.github.com/maxcollombin/8561c08fc191bce0b3d88cd827637037) through pygeoapi via docker-compose but I'm getting the following error:

[code]

**Steps to Reproduce**
1. `svn export https://github.com/geopython/pygeoapi/trunk/docker/examples/simple pygeoapi-simple`
2. `cd pygeoapi-simple`
3. `svn export https://github.com/geopython/pygeo

[2022-09-06 15:28] KoalaGeo opened #980 "Mixed Content Warnings"
**Description**
Mixed Content Warnings in the console

[code]
[code]

**Steps to Reproduce**
Go to https://ogcapi.bgs.ac.uk/openapi?f=html#/recentearthquakes/describeRecentearthquakesCollection open devtools

Click one of the "GET" buttons

**Expected behavior**
No error

**Screenshots/Tracebacks**
![image](https://user-images.githubusercontent.com/33657876/188675060-f84442a1-72db-4489-955a-25d349

[2022-09-06 15:29] KoalaGeo commented on #980
Also impacts redoc - https://ogcapi.bgs.ac.uk/openapi?f=html&ui=redoc

![image](https://user-images.githubusercontent.com/33657876/188675353-78521f35-b498-4c83-a545-5559fccedbba.png)

[2022-09-06 15:56] tomkralidis commented on #978
Can you turn on debugging and provide logging output?

[2022-09-06 17:59] maxcollombin commented on #978
Sure,

[Here](https://gist.github.com/maxcollombin/1d8d496f46b447374c7b46e1d19020cf) it is.

[2022-09-06 21:19] tomkralidis commented on #978
Thanks. You need to set `logging.level` to `DEBUG`, restart the server, run the request http://localhost:5000/collections/naturalearth/lakes?f=html, and provide the logging output.

[2022-09-07 05:50] #957 closed

[2022-09-07 07:10] maxcollombin commented on #978
I am however not able to get the logs correctly
I've tried to update the my.config.yml as follow:

[code]
but a folder is created instead without any logs.

I used the command 'docker-compose logs -f -t >> pygeoapi.log' instead which fills in the information given in the previous message.

Sorry for any misunderstandings.😑

[2022-09-07 08:07] tomkralidis commented on #978
Do not set / comment out the logfile directive, then logs will be sent to the console.

[2022-09-07 12:35] maxcollombin commented on #978
Ok,

I've updated the associated [gist](https://gist.github.com/maxcollombin/1d8d496f46b447374c7b46e1d19020cf).

[2022-09-07 22:22] drnextgis commented on #677
I can reproduce it with [filename.zip](https://github.com/geopython/pygeoapi/files/9521956/filename.zip)  dataset and the following config:
[code]

https://user-images.githubusercontent.com/866124/188993949-4556ebef-c252-457c-a334-2087be2e1b5c.mp4

[2022-09-12 13:39] KoalaGeo commented on #980
https://github.com/geopython/pygeoapi/blob/master/pygeoapi/api.py#L101-L143 needs ammending to

[code]

[2022-09-12 13:44] KoalaGeo commented on #980
And here https://github.com/geopython/pygeoapi/blob/master/pygeoapi/flask_app.py#L73

[2022-09-12 20:24] #699 closed

[2022-09-12 21:24] francbartoli commented on #980
@KoalaGeo I think some of the OGC links are not available under the secured protocol. For example:

- [https://www.opengis.net/spec/ogcapi-common-1/1.0/conf/core](https://www.opengis.net/spec/ogcapi-common-1/1.0/conf/core)
- [https://www.opengis.net/spec/ogcapi-common-1/1.0/conf/collections](https://www.opengis.net/spec/ogcapi-common-1/1.0/conf/collections)

[2022-09-12 21:36] tomkralidis commented on #980
@KoalaGeo can you try against master?  OGC API schema references (which are used when generating the OpenAPI document) have all been [updated to HTTPS](https://github.com/geopython/pygeoapi/blob/master/pygeoapi/openapi.py#L48-L57).

[2022-09-12 21:43] francbartoli commented on #980
Sorry folks, please ignore my previous message. I do believe @tomkralidis' comment would close the issue imho

[2022-09-13 13:18] nicolasvri commented on #536
@francbartoli @jemrobinson @geekdenz @jorgejesus
I have been using pygeoapi for a short time and am facing slowness problems on large tables.
After research, I realized that it is the DISTINCT of the query that is in question and came across this post.
Adding the DISTINCT causes slowness issues for the reasons discussed earlier: postgres cursors can't work optimally with a DISTINCT because the que

[2022-09-15 22:18] doublebyte1 commented on #970
[The elasticsearch client does not support ES=8](https://elasticsearch-dsl.readthedocs.io/en/latest/), but there is a workaround which [is enabling compatibility mode in ES8](https://www.elastic.co/guide/en/elasticsearch/client/python-api/current/migration.html#migration-compat-mode).

[2022-09-16 13:43] KoalaGeo commented on #980
@tomkralidis using latest still gettign the issue - see https://ogcapi-staging.bgs.ac.uk/openapi?f=html#/server/getCollections

[code]

[2022-09-16 13:50] francbartoli commented on #980
@KoalaGeo can you share your pygeoapi yml config file?

[2022-09-16 13:52] doublebyte1 opened #987 "Give support to 2D TMS Tilesetmetadata"
The OGC 2TMS standard defines a format for[ tile metadata](https://docs.ogc.org/is/17-083r4/17-083r4.html#toc20).

It would be nice to add support to this, in addition to [mapbox's tilejson](https://github.com/mapbox/tilejson-spec), which is already supported.

There are providers that do not support tilejson, like the case of elasticsearch [see](https://github.com/geopython/pygeoapi/issues/970).

[2022-09-17 21:06] KoalaGeo commented on #980
Sure - https://gist.github.com/KoalaGeo/56795751d660689b45234b406ddf174d

[2022-09-18 10:39] tomkralidis commented on #980
@KoalaGeo can you share the OpenAPI document? The links should be HTTPS if you are using master branch.

[2022-09-18 20:48] KoalaGeo commented on #980
Looks to all be http - https://ogcapi-staging.bgs.ac.uk/openapi?f=json

[2022-09-18 23:30] tomkralidis commented on #980
@KoalaGeo I still cannot reproduce.  Also works as expected in our public demo (https://demo.pygeoapi.io/master/openapi?f=json).

[2022-09-18 23:44] KoalaGeo commented on #980
I'll have a go not using  url: https://${HOSTNAME}/ and actually hardcoding the url as thats the standout difference from the doc examples

[2022-09-21 14:52] KoalaGeo commented on #980
I've hardcoded the hostname & tried disabling cors still having the same error
![image](https://user-images.githubusercontent.com/33657876/191533838-d7127722-4d30-4f4b-900e-45d0d0d3bf64.png)

http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/ogcapi-features-1.yaml

There does exist a https version see https://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/ogcapi-features-1.yaml

[2022-09-22 14:47] KoalaGeo commented on #980
From OGC
"https://schemas.opengis.net/ and http://schemas.opengis.net/ serve the same content.

http://schemas.opengis.net/ does not use HSTS as that might break existing clients by forcing HTTPS.  Instead the schema site uses HTTP Content-Security-Policy (CSP) upgrade-insecure-requests.  This HTTP header directive instructs the user agents (client) to treat all of the site's insecure URLs as thou

[2022-09-23 23:26] why-not-try-calmer commented on #882
I seem to run into the same issue; using the same running method as OP, doing

    curl -X POST "http://localhost:5000/processes/hello-world/execution" -H "Content-Type: application/json" -d "{\"mode\": \"async\", \"inputs\":{\"name\": \"hi there2\"}}"

yields

    Internal Server Error (response)
    TypeError: execute_process_jobs() missing 1 required positional argument: 'process_id' (sdout)

[2022-09-25 20:22] tomkralidis commented on #980
Still cannot reproduce.  The demo is working off an old version pygeoapi master.  I think our Docker images need updating.  Opening a new issue on this one.

Having said this, if you test with a local (non-Docker [!]) install, you will see that the URLs to OGC schemas are all HTTPS.

[2022-09-25 20:27] tomkralidis opened #989 "Docker images outdated"
**Description**
Docker images for master builds appear to be out of date.

**Steps to Reproduce**
Steps to reproduce the behavior: `docker pull geopython/pygeoapi:latest`

**Expected behavior**
Docker images for the master build should represent same.

**Screenshots/Tracebacks**
From Docker Hub
![Screen Shot 2022-09-25 at 16 23 10](https://user-images.githubusercontent.com/910430/192163647-804c070

[2022-09-26 08:48] KoalaGeo opened #990 "`next` and `previous` response doesn't match OGCAPI specs"
**Description**
Raising issue from https://github.com/geopython/pygeoapi/pull/964#issuecomment-1253718995

As part of the HTML response pygeoapi includes `next` and `prev` fields with the IDs of the adjacent records. For the first record in the table, the prev is set to the same record ID (i.e. the first record), and for the last record in the table next is set to the last record. See the code her

[2022-09-26 14:06] why-not-try-calmer opened #991 "Version 0.12.0 (tagged as such here and available from PyPI) features bugs that have been squashed for a long time"
One such bug is the missing `process_id=None` default to the second argument of this [function](https://github.com/geopython/pygeoapi/blob/faa00e7c9232a773d4d701a90855ae06c4068eae/pygeoapi/starlette_app.py#L353), making the application not very usable in production. Code from `master` (including the official Docker image) is up-to-date, though, but lacks the simplicity and flexibility afforded by

[2022-09-26 22:54] justb4 opened #993 "Fix failing unit tests in GH Workflows"
**Description**
Many unit tests fail in GH workflow.

**Steps to Reproduce**
Commit/push something to master, watch failing GH Action for 'Build'

**Expected behavior**
Expect to see all tests succeed.

**Screenshots/Tracebacks**
See for example:
https://github.com/geopython/pygeoapi/actions/runs/3131541093

Tried commenting out failing tests in the test code or the GH Workflow file `main.yml`.
Th

[2022-09-27 01:48] tomkralidis commented on #980
Ref #989 (outdated Docker images)

[2022-09-27 01:49] tomkralidis commented on #978
@maxcollombin if you are using pygeoapi via Docker, please see #989, as I think this may be related.

[2022-09-27 01:56] tomkralidis commented on #991
Please post questions to the pygeoapi mailing list. pygeoapi GitHub issues are for **software bugs/enhancements** and related tasks.

[2022-09-27 01:56] #991 closed

[2022-09-27 14:51] maxcollombin commented on #978
Indeed. The issue can then be closed. Thanks for your feedback!

[2022-09-27 14:55] #978 closed

[2022-09-27 19:51] justb4 commented on #989
So at least now the images are not outdated. So we may close this.

[2022-09-27 20:21] justb4 commented on #790
So we can close, right?

[2022-09-28 00:56] #989 closed

[2022-09-28 00:56] #993 closed

[2022-09-28 00:57] tomkralidis commented on #980
@KoalaGeo can you validate again now that our Docker and GHCR images are current?

[2022-09-28 00:59] tomkralidis commented on #790
Yes, we are now an official OSGeo project.  Thanks everyone!

[2022-09-28 00:59] #790 closed

[2022-09-28 01:07] tomkralidis commented on #973
Implemented/fixed.  CI workflow publishes to Docker and GHCR.

[2022-09-28 01:07] #973 closed

[2022-09-28 07:00] justb4 commented on #951
Yes, good approach. Using `resulttype=hits`. Contemplating this for generic OAPIF clients for Leaflet and OL. But to our surprise `resulttype=hits` is no longer in the core OGC standard, so now a proprietary pygeoapi facility. See also Gitter WFS-FES for discussion. May return as Extension...

[2022-09-28 07:03] justb4 commented on #951
Was thinking of a minzoom-maxzoom or maxhits-minhits where clustering is active. Not just for Point features.

[2022-09-28 11:53] KoalaGeo commented on #980
All working at my end now, cheers!

[2022-09-28 11:53] #980 closed

[2022-09-29 11:12] justb4 opened #1003 "GitHub Workflow for Docker build/push enhancements"
**Is your feature request related to a problem? Please describe.**
This concerns the GH Workflow [containers.yml](https://github.com/geopython/pygeoapi/blob/master/.github/workflows/containers.yml).
Via #989 and PR #997 the Docker Build/Push is working but there are some 'dangling issues', at least two:

- the Unit Tests running using the Docker Image are commented out (also concerns/revives old/c

[2022-09-29 11:13] justb4 commented on #148
Closing: now have GH Workflow Docker build/push and new issue #1003

[2022-09-29 11:13] #148 closed

[2022-09-29 11:14] #848 closed

[2022-09-29 14:14] KoalaGeo commented on #1003
`containers.yml` won't run until the build stage (`main.yml`) is complete and the testing therefore passed (https://github.com/geopython/pygeoapi/blob/master/.github/workflows/containers.yml#L11)

So we could potentially remove the testing of the built containers although I can understand why might want to include as a double check...

[2022-09-29 16:02] justb4 commented on #1003
Yes, please also use the tests within the Container. The execution/version context is usually different from other execution contexts like local venvs and even the GH Workflow, this based on e.g. Ubuntu versions, non-pinned PyPi packages etc. Even timezones may matter. Plus the context within the container is more complete, e.g. it has GDAL, while this is not (yet) in the Build workflow (commented

[2022-09-29 18:55] francbartoli commented on #536
@nicolasvri let's wait for the merge of #964 that will refactor the backend provider by using `SQLAlchemy`

[2022-09-29 20:50] pvgenuchten opened #1004 "support the response=raw|document parameter on processes"
https://docs.ogc.org/is/18-062r2/18-062r2.html#toc32 indicates the use of a request parameter response=raw|document (raw is default), which seems not implemented on pygeoapi yet.

This is usefull for response content different then json, such as imagery, xml, pbf.

If response=raw (default) the actual content is send to the client, with an option response=document the content is embedded in a json

[2022-09-30 11:32] tomkralidis commented on #1004
Turns out this is a problem with the [pygeometa plugin](https://geopython.github.io/pygeometa/pygeoapi-plugin) itself.  Fixing in pygeometa proper.  Closing.

[2022-09-30 11:32] #1004 closed

[2022-09-30 14:52] pvgenuchten commented on #1004
Good find, good to know we support the response parameter

[2022-10-02 07:27] geekdenz commented on #536
If #964 did not resolve it, maybe putting a sorted index on the selected columns will speed it up.

[2022-10-05 07:55] doublebyte1 commented on #820
@KoalaGeo We could have different data providers:
- Mapbox tiles
- PG-tile serv
- ES
If we detach the metadata from the data, you could request the tile metadata, for instance in one of these formats:
- tilejson
- OGC 2TMS
- None
In your case, the pg_tileserv data provider would pass a (metadata) path to the metadata provider and you could choose between one of those available.

I could prepare a

[2022-10-05 08:54] doublebyte1 commented on #987
In reality to be conformant to the standard, 2D TMS Tilesetmetadata **should** be implemented.

[2022-10-05 10:20] KoalaGeo commented on #820
@doublebyte1 that sounds great to me!

[2022-10-06 23:06] KoalaGeo opened #1007 "Include numberMatched & numberReturned at Items level"
**Is your feature request related to a problem? Please describe.**
It really useful to know how many features are in a collection to be able to write efficient queries against the data.

**Describe the solution you'd like**
Addition of numberMatched & numberReturned in the items response.

This would be matching the implementation already found in both MapServer & GeoServer
![image](https://user-i

[2022-10-09 10:26] justb4 commented on #1007
Although this feature is optional in the standard, most applications, also including LDProxy, support it, see also this long-running issue https://github.com/opengeospatial/ogcapi-features/issues/261. Could become a sort of defacto interworking feature until something, hopefully mandatory, is decided  in the standard, as there are multiple alternatives, including HTTP Header response fields.

[2022-10-09 11:50] tomkralidis commented on #1007
I think this is already supported? https://demo.pygeoapi.io/master/collections/obs/items?f=json

@KoalaGeo can you provide some steps to reproduce?

[2022-10-09 20:39] KoalaGeo commented on #1007
@tomkralidis is it provider dependant?

Not present in https://ogcapi.bgs.ac.uk/collections/scanned-maps-500k/items?f=json

[2022-10-09 22:01] justb4 commented on #1007
Yes it is ( provider dep.).

[2022-10-09 22:26] tomkralidis commented on #1007
Thanks @justb4. So the PostgreSQL provider needs the additional properties assuming they can be derived.

[2022-10-10 08:10] KoalaGeo commented on #1007
https://ogcapi.bgs.ac.uk/collections/scanned-maps-1m/items?resulttype=hits&f=json works so "just" need to add to the items response

[2022-10-10 10:29] justb4 commented on #1007
Think there are more, like OGR Provider, though it supports `resultType=hits`, making it easy to also support at `items` level. We need to go through all Providers, make a list and fix one-by-one. It is even a  (PSC) question if pygeoapi still should support `resultype=hits` as it is not anymore in the standard and not supported by all Providers (e.g. not by Elastic).

[2022-10-10 23:00] tomkralidis commented on #1007
Note that `resulttype=hits` is supported by the ES provider.  A full matrix of feature provider support specifics can be found at https://docs.pygeoapi.io/en/latest/data-publishing/ogcapi-features.html

@KoalaGeo can you add these properties to #964 (for just the PG provider for now), or better in another PR?

[2022-10-11 00:55] justb4 commented on #1007
Good to notice, did not know about this figure. But like I stated above `resultType=hits`, though very useful,  IMHO is now a proprietary extension (since it was removed from the standard). Ok, gives pygeoapi some edge. But my focus, and hopefully for the good of community adoption, is on generic (OAPIF) clients. So far the closest is to support `numberMatched`, not ideal, but we can converge/agre

[2022-10-11 16:04] Alex-NRCan opened #1008 "Accentuated characters in the Yaml config file aren't supported"
**Description**
When the Yaml config file contains accentuated characters, those aren't read correctly thereafter in the inherent configuration within the API.

**Steps to Reproduce**
Insert accentuated characters in pygeoapi-config.yml. For example: a collection using the Postgresql provider using a table name with accentuated characters (yes, this example is likely not good practice, but having

[2022-10-11 18:01] jlaura commented on #221
I to am interested in the intersection of STAC and pygeoapi - any links to what support can be offered? Happy to dig in and help.

[2022-10-11 20:33] Alex-NRCan opened #1011 "Support more crs options in rasterio provider"
**Is your feature request related to a problem? Please describe.**
When using the rasterio provider, the crs for the bbox is hardcoded as 4326 in the code. Therefore, the bbox itself, when provided, has to be provided in 4326.

**Describe the solution you'd like**
We'd like to be able to provide the bbox in other crs and provide said crs as a service parameter (bbox-crs) for the /coverage endpoint

[2022-10-13 16:20] frafra opened #1013 "Cannot open OGR Source: WFS:http://geodata.nationaalgeoregister.nl/rdinfo/wfs?"
I am testing the pygeoapi Docker image, and I got this messages:

[code]

It looks there is a problem with the URL.
https://github.com/geopython/pygeoapi/blob/42a419299b714be66f2f862f87a7503efe24d235/pygeoapi/provider/ogr.py#L88

[2022-10-13 16:57] justb4 commented on #1013
Yes, hold on, this URL was changed last week. Will get back.Just @ MobileOn Oct 13, 2022 18:20, Francesco Frassinelli ***@***.***> wrote:
I am testing the pygeoapi Docker image, and I got this messages:
START /entrypoint.sh
Trying to generate openapi.yml
Error Number: 1, Type: Failure, Msg: HTTP error code : 404
Error Number: 1, Type: Failure, Msg: Error returned by server : HTTP error code : 404

[2022-10-13 18:27] justb4 commented on #1013
The new URL is https://service.pdok.nl/kadaster/rdinfo/wfs/v1_0? .

[2022-10-14 09:30] justb4 commented on #1013
@frafra should be fixed. can you test and close issue if working?

[2022-10-14 17:51] #1008 closed

[2022-10-15 02:00] #1011 closed

[2022-10-15 15:10] solismaam commented on #536
I just ran into this problem with a database table with 3.2 million rows - just loading the items view takes more than 20 seconds.

I did a very quick test by creating a local custom postgresql.py provider - essentially replacing `DISTINCT` with `DISTINCT ON`. I ran pygeoapi in docker with this change and now the items view loads immediately. I also tested the `sortby` functionality with other fie

[2022-10-16 20:04] #970 closed

[2022-10-17 11:34] solismaam commented on #593
@francbartoli has there been any progress on this matter?

Also, adding a simple [devcontainer](https://code.visualstudio.com/docs/remote/containers) configuration could be useful for this project, so that the contributors participating in the project would have an identical development environment with all the necessary binaries, libraries and utilities.

[2022-10-25 12:29] #1013 closed

[2022-10-25 12:30] tomkralidis commented on #951
Added via #1025

[2022-10-25 12:30] #951 closed

[2022-10-27 07:41] alex-mathew commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Alex Mathew

[2022-10-27 09:02] ynte commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Ynte de Wolff

[2022-10-27 11:34] alexandreleroux commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

Alexandre Leroux

[2022-10-28 13:37] maxcollombin opened #1029 "Add a CSW backend for OGC API Records"
**Is your feature request related to a problem? Please describe.**
Would it be possible to add a Catalogue Service for the Web (CSW) backend for publishing OGC API Records? This could allow publishing collections from existing CSW services and avoid creating TinyDB configuration files.

**Describe the solution you'd like**
be able to publish an OGC API Records collection by referencing a CSW servi

[2022-10-31 07:14] krishnaglodha opened #1031 "Error while following installation for developers from https://docs.pygeoapi.io/"
**Description**
Not able to follow instructions of https://docs.pygeoapi.io/en/stable/installation.html#for-developers-and-the-truly-impatient correctly.

**Steps to Reproduce**
Steps to reproduce the behavior:
<img width="697" alt="Screenshot 2022-10-31 at 12 44 27" src="https://user-images.githubusercontent.com/47075664/198952136-2aec8ab0-5756-40d9-a4c2-1cb80936e011.png">
If we follow step as pe

[2022-11-08 12:05] doublebyte1 commented on #928
Hi all, I'd like to contribute code to pygeoapi. I confirm that my contributions to pygeoapi will be compatible with the pygeoapi license guidelines at the time of contribution.

                 Joana Simoes

[2022-11-14 18:33] jlaura opened #1038 "ElasticSearch query method fails when called via API."
**Description**
ElasticSearch Provider query method does not include the `language` kwarg. `api.py` calls the query method (line 1410 in 0.12.0) with the language kwarg causing a crash.

**Steps to Reproduce**
Steps to reproduce the behavior:

Installed 0.12.0, added an AWS Open Search provider, and crashed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**

[2022-11-14 18:41] jlaura opened #1039 "ElasticSearch Provider (OpenSearch) - No guarantee that properties._metadata-anytext exists"
**Description**
The ElasticSearch provider hard codes for the removal of properties._metadata-anytext in the `_excludes` method. Pushing a shapefile to ElasticSearch (OpenSearch v 7.10) using ogr2ogr defaults does not generate a column with that name.

**Steps to Reproduce**
Steps to reproduce the behavior:
- Push a shapefile to an OpenSearch instance (AWS) using ogr2ogr.
- Add a provider.

**Expe

[2022-11-14 18:48] jlaura commented on #1039
Here too.....https://github.com/geopython/pygeoapi/blob/master/pygeoapi/provider/elasticsearch_.py#L567

 That will teach me to check dev before opening an issue!

[2022-11-14 18:48] #1039 closed

[2022-11-16 08:19] krishnaglodha opened #1040 "Error while using PostgreSQL as a source"
**Description**
I'm trying to use postgreSQL table as a data source. Once I put all credentials correct, I'm getting following error on screen
<img width="1379" alt="Screenshot 2022-11-16 at 1 44 55 PM" src="https://user-images.githubusercontent.com/47075664/202125584-d2d510eb-5d37-46ae-a6ee-ec19a28c1f3c.png">

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Create python venv and insta

[2022-11-16 08:32] krishnaglodha commented on #1040
I think we should mention specifically that to use please run following command
` pip install sqlalchemy geoalchemy2 psycopg2-binary` in the doc https://docs.pygeoapi.io/en/latest/data-publishing/ogcapi-features.html#postgresql

[2022-11-16 19:13] tomkralidis commented on #1040
Does installing `pip3 install -r requirements-provider.txt` help as well?

[2022-11-19 04:20] krishnaglodha commented on #1040
Hi @tomkralidis , I tried the same, it works but I get error because file has `psycopg2` as a library while mac and ubuntu usually uses `psycopg2-binary`
<img width="1389" alt="Screenshot 2022-11-19 at 9 48 27 AM" src="https://user-images.githubusercontent.com/47075664/202833756-33ca8dc8-4c80-4a64-9ef9-9476fa37cad5.png">

Also I saw that it downloads `elasticsearch` packages as well. for not it is

[2022-11-20 23:56] tomkralidis commented on #1040
`requirements-provider.txt` is there as an add-on to cover for providers.  Any deployments using specific providers should cover installing provider requirements as part of their deployment proper.

Having said this, I've issued a PR in #1041 to the provider documentation to add a note for each provider on its specific requirements. Let me know if this helps.

[2022-11-21 00:12] #895 closed

[2022-11-22 12:13] #1031 closed

[2022-11-23 13:04] tomkralidis commented on #1040
@krishnaglodha see PR at #1041.  Feel free to re-open this issue if we need more discussion.

[2022-11-23 13:04] #1040 closed

[2022-11-24 11:42] vidhav opened #1043 "Bad Leaflet bounds in Tiles template"
**Description**
In the [HTML template for Tiles](https://github.com/geopython/pygeoapi/blob/master/pygeoapi/templates/collections/tiles/index.html#L131), the Leaflet viewport is set to the bbox of the collection. Leaflet orders the coordinates by latitude-longitude (the bbox uses the opposite order).

**Steps to Reproduce**
Set the collection bbox to be `[4,57,32,72]`. The viewport should place yo

[2022-11-27 10:51] doublebyte1 commented on #1043
@vidhav the order of the coordinates seems to be correct, according to the [Leaflet documentation](https://leafletjs.com/reference.html#latlngbounds).
I think that the problem is that the bounds being passed to this method correspond to the bounds of the extent, rather than the bounds of the actual data (see screenshot).

![pygeoapi-extent](https://user-images.githubusercontent.com/1038897/2041313

[2022-11-27 11:40] doublebyte1 commented on #1043
If you set the extent of the layer in the [configuration of pygeoapi](https://github.com/geopython/diving-into-pygeoapi/blob/main/workshop/exercises/pygeoapi.config.yml#L227), the map will be correctly fitted.

![tiles-extent](https://user-images.githubusercontent.com/1038897/204133265-217bd67d-485e-4436-91ba-69508613c5e6.png)

[2022-11-27 11:44] doublebyte1 commented on #1043
If one day there is support for getting the bounds of a [Leaflet.VectorGrid](https://github.com/Leaflet/Leaflet.VectorGrid#todo), we could try to fit the map to the data extent, instead. Maybe @IvanSanchez knows something about this...

[2022-11-27 11:46] doublebyte1 commented on #1029
@maxcollombin you mean creating a facade, [like the one for WFS](https://docs.pygeoapi.io/en/0.10.1/data-publishing/ogcapi-features.html#ogr)?

[2022-11-27 11:47] doublebyte1 commented on #1029
@tomkralidis @PascalLike what do you think?

[2022-11-28 08:23] vidhav commented on #1043
I did set the extent in the the [config file](https://github.com/geopython/diving-into-pygeoapi/blob/main/workshop/exercises/pygeoapi.config.yml#L227), @doublebyte1. I pass it in as `[west, south, east, north]`, so in my understanding it's `[lng, lat, lng, lat]`...

It is my understanding that Leaflet prefers latitude, longitude and the [documentation](https://leafletjs.com/reference.html#latlngbo

[2022-11-28 12:59] doublebyte1 commented on #1043
@vidhav in the configuration it has: [-180, -90, 180, 90], which would translate to [lat, long,lat,long] (you need to swap your order);  first is the lower left corner and then the upper right corner. If you do this, the current code in the HTML template will put the map in the right location.

[2022-11-28 13:40] maxcollombin commented on #1029
@doublebyte1 yes, indeed!
Does that make sense to you?

[2022-11-28 14:37] ShaneMill1 opened #1044 "Support for Pub/Sub as part of the future OGC API - EDR version 1.2"
The OGC API - EDR Standards Working Group is investigating the use of Pub/Sub for OGC API - EDR v1.2.

There is a related github Issue for the SWG here: https://github.com/opengeospatial/ogcapi-environmental-data-retrieval/issues/318

It could be useful to start to discuss how this functionality could be added to pygeoapi. Initial thoughts are that there could be an attribute added to the pygeoapi

[2022-11-28 22:24] tomkralidis commented on #1029
I think this is a great idea!  The devil in this detail is the metadata model/queryables. As a first step, we could start with a facade to implement CSW 2 (or 3) with Dublin Core as the model.  This is identical to the approach we took in QGIS MetaSearch.  We can consider more complex models (i.e. ISO 19115) once we have a baseline.

[2022-11-29 08:23] tomkralidis commented on #1029
Aside: depending on the underlying CSW implementation (pycsw, GeoNetwork OpenSource, etc.), you may also consider upgrading them if your organization is managing them directly.

[2022-11-29 15:39] PascalLike commented on #1029
Right! For example, in the most recent versions of GeoNetwork, there should already be support for OARec.

[2022-11-29 15:51] francbartoli opened #1046 "Update tiles to the approved specification"
**Description**

Related to #699

- [x] The TileJSON should also be changed to be an alternate representation of a particular tileset, as opposed to a described by / separate metadata resource
 - [x] Also the tileMatrixSetURI should use the TMS register , e.g. http://www.opengis.net/def/tilematrixset/OGC/1.0/WebMercatorQuad
 - [x] The tileMatrixSet key is for a full TMS description, the id should

[2022-11-30 08:36] doublebyte1 commented on #820
@KoalaGeo I am trying to update the vector tile backend to support a generic url. Do you have a pg_tileserv endpoint that I can use, to test this?

[2022-11-30 12:01] PascalLike commented on #1046
../collections/{colllectionId}/tiles/{tileMatrixSetId}/metadata seems no longer part of the specification.
It seems that metadata should be moved to ../collections/{colllectionId}/tiles/{tileMatrixSetId}?f=json

It's expected to contain [TileSetMetadata](https://docs.ogc.org/is/17-083r4/17-083r4.html#toc20)

[pygeoapi old metadata endpoint](https://demo.pygeoapi.io/master/collections/lakes/tiles/W

[2022-11-30 15:47] doublebyte1 opened #1049 "Add support for a generic url template for publishing vector tiles"
Currently, it is possible to publish vector tiles from hard disk and from an url.
However, the url template is quite specific from Mapbox:
- It requires a "." extension at the end, in order to work.
- It requires this coordinate order: {z}/{x}/{y} , in order to work.

It would be nice to support additional use cases, like retrieving vector tiles from an elasticsearch backend, a pg_tile serv, or an

[2022-11-30 15:50] doublebyte1 commented on #1049
This would address this use case: https://github.com/geopython/pygeoapi/pull/986

[2022-11-30 15:50] doublebyte1 commented on #1043
I will close this for the time being. You can reopen it, if the fix does not work.